# Notebook pour tester


Tadam

In [6]:
import pandas as pd

d = {'col1': [1, 2], 'col2': [3, 4]}

df = pd.DataFrame(data=d)

df

   col1  col2
0     1     3
1     2     4

In [7]:
df.dtypes

col1    int64
col2    int64
dtype: object